---
import { IconSG } from '../icons'
const {} = Astro.props
---

<span
  class="self-center text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white"
>
  <IconSG
    class="w-24 h-16 hover:rotate-45 transition duration-300 ease-in-out"
  />
</span>
