---
import Hero from '../components/widgets/Hero.astro'
import WorkExperience from '../components/widgets/WorkExperience.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Santigarh">
  <main>
    <Hero />
    <WorkExperience />
  </main>
</Layout>
